<section id="empresa" class="home-description">
  <div class="decoration-square"></div>
  <div class="container narrow">
    <div class="row justify-content-center">
      <div class="flex-fill justify-content-center">
        <div class="text-center">
          <h1 class="pb-4">
            {% t home.description.title %}
          </h1>
        </div>
        <p>{% t home.description.paragraph_a %}</p>
        <p>{% t home.description.paragraph_b %}</p>
      </div>
    </div>
  </div>
</section>
