<section class="home-hotspots">
  <div class="container narrow">
    <div class="row justify-content-center text-center">
      <div class="col-12">
        <h2 class="pb-4">{% t home.hotspots.title %}</h2>
      </div>
    </div>

    <div class="row justify-content-center">
      {% for hot in site.translations[site.lang]["home"]["hotspots"]["data"] %}
      <div class="col-md-12 col-lg-4 d-flex flex-column text-center hotspot-item">
            <div class="image">
              <img src="{{ site.assets | append: hot.img }}" />
            </div>
          
            <h3>{{ hot.title }}</h3>
            <p>{{ hot.text }}</p>
          </div>

        {% endfor %}
      </div>
    </div>
  </div>
</section>
