<section id="servicios" class="home-services">
  <div class="decoration-circle-fill"></div>
  <div class="container narrow content">

    <div class="row">
      <div class="col-12 text-center pb-5">
        <h2>{% t home.services.title %}</h2>
      </div>
    </div>

    <div class="row content-list pb-5">
      <div class="col-12 col-lg-6 list">
        <ul>
          {% for l in site.translations[site.lang]["home"]["services"]["items"] offset:0 limit:3 %}
            <li>{{ l.text }}</li>
          {% endfor %}
          </ul> 
      </div>
      <div class="col-12 col-lg-6 list right">
        <ul>
          {% for l in site.translations[site.lang]["home"]["services"]["items"] offset: 3 %}
            <li>{{ l.text }}</li>
          {% endfor %}
          </ul> 
      </div>        
    </div>

    <div class="row justify-content-center items">
      {% for l in site.translations[site.lang]["home"]["services"]["item-list"] %} 
        <h5 class="item">{{ l }} <span class="bullet px-2">·</span> </h5> 
      {% endfor %}
    </div>

  </div>
</section>
