<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=UA-170485522-1"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-170485522-1');
  </script>

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="author" content="Consulta Felina" />

  <!-- CSS -->
  <link
    rel="stylesheet"
    href="{{
      site.assets | append: site.data.styleVendor_manifest['styleVendor.css']
    }}"
  />
  <link
    rel="stylesheet"
    href="{{ site.assets | append: site.data.style_manifest['style.css'] }}"
  />
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  />

  <meta content="{% t global.title %}" property="og:title" />
  <meta content="{% t global.description %}" property="og:description" />
  <meta content="{{ site.assets | append: 'brand.png' }}" property="og:image" />

  <meta name="theme-color" content="#ffffff" />

  <link
    rel="shortcut icon"
    type="image/png"
    href="{{ site.assets | append: 'brand-b.png' }}"
  />

  <title>{% t global.title %}</title>
  <meta name="description" content="{% t global.description %}" />
</head>
